body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
}

img {
    height: 50px;
    margin-right: 50px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

main {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #2b0a0a;
    font-weight: bold;
}

footer {
    background-color: #363807;
    color: #fff;
    text-align: center;
    padding: 10px;
}
